@model HS2231A5.Models.ActorWithShowInfoViewModel

@{
    ViewBag.Title = "Details";
    var userAccount = new HS2231A5.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);

}


<div>
    <h2>@Model.Name</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img src="@Model.ImageUrl" alt="@Model.Name" style="max-height:150px; max-width:150px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executive)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShowsCount)
            <span class="badge">@Html.DisplayFor(model => model.ShowsCount)</span>
        </dt>
        <dd>
            @foreach (var item in Model.Shows)
                {
                <p>@item.Name</p>

                }
        </dd>
    </dl>
    <div>
        @{ if (!string.IsNullOrWhiteSpace(Model.Biography))
                {
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Biography)
                    </dt>
                    <dd class="well">
                        @Html.Raw(Model.Biography)
                    </dd>
                </dl>
                }
        }
    </div>


    <div>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Photos)
            </dt>
            <dd>
                @if (Model.Photos.Count() == 0)
                    {
                    <span>(none)</span>
                    }
                else
                    {
                    foreach (var item in Model.Photos)
                        {
                        <div class="col-md-4 col-sm-5 col-xs-10">
                            <img src="~/Content/@item.Id" alt="@item.Caption" title="@item.Caption" class="img-responsive img-rounded" style="height:200px;">
                            <span class="small">@item.Caption</span><br>
                        </div>
                        }
                    }
            </dd>
        </dl>

    </div>


    <div>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Documents)
            </dt>
            <dd>
                @if (Model.Documents.Count() == 0)
                    {
                    <span>(none)</span>
                    }
                else
                    {
                    foreach (var item in Model.Documents)
                        {
            <div class="col-md-4 col-sm-5 col-xs-10">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="pdf-icon" class="img-responsive img-rounded" style="height:50px;"/>
                <a href="~/MediaItemDownload/@item.Id" alt="@item.Caption">@item.Caption</a>
            </div>
                        }
                    }
            </dd>
        </dl>

    </div>

    <div>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AudioClips)
            </dt>
            <dd>
                @if (Model.AudioClips.Count() == 0)
                    {
                    <span>(none)</span>
                    }
                else
                    {
                    foreach (var item in Model.AudioClips)
                        {
                        <div class="col-md-4 col-sm-5 col-xs-10">
                            <audio controls src="~/Content/@item.Id" alt="@item.Caption" title="@item.Caption" />
                            <span class="small">@item.Caption</span><br>
                        </div>
                        }
                    }
            </dd>
        </dl>

    </div>
    <div>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VideoClips)
            </dt>
            <dd>
                @if (Model.VideoClips.Count() == 0)
                    {
                    <span>(none)</span>
                    }
                else
                    {
                    foreach (var item in Model.VideoClips)
                        {
            <div class="col-md-4 col-sm-5 col-xs-10">
                <video controls src="~/Content/@item.Id" alt="@item.Caption" title="@item.Caption" class="img-responsive"/>
                    <span class="small">@item.Caption</span>
                    <br>
            </div>

                        
                        }
                    }
            </dd>
        </dl>

    </div>

</div>
<p>
    @{ if (userAccount.HasRoleClaim("Executive"))
            {

            @Html.ActionLink("Add Media Item","AddMediaItem",new {id=Model.Id})
            <span> | </span>
            } }

    @{ if (userAccount.HasRoleClaim("Coordinator"))
            {

            @Html.ActionLink("Add New Show", "AddShow", new { id = Model.Id })
            <span> | </span>
            }
    }

    @Html.ActionLink("Back to List", "Index")
</p>
